@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {height: 100%;}

body
{
    background-color: #fff;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
}

#wrap {min-height: 100%;}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited
{
    color: blue;
}

abbr
{
    border-bottom: 1px dotted #666;
    cursor: help;
}

ul, ol
{
    margin-top: 10px;
    padding-left: 20px;
}

li
{
    list-style-position: inside;
    text-indent: -15px;
    line-height: 1.6em;
    padding: 0 0 7px 15px;
}

nav
{
    padding: 20px 0 10px 0;
}

.container
{
    width: 850px;
    margin: 0 auto;
}

#nav-container > a
{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #444444;
    font-size: 1.5em;
}

a#blog-title
{
    font-size: 40px;
    font-family: 'Pacifico', sans-serif;
    color: #444444;
}

.divider
{
    height: 10px;
    margin-bottom: 20px;
    min-width: 850px;
}

#content-container
{
    padding: 10px 0 40px 0;
}

.post-listing
{
    padding: 0;
    margin: 0;
}

.post-listing > li
{
    margin-bottom: 20px;
    list-style-type: none;
    list-style-position: inside;
    text-indent: 0;
    padding: 0;
}

.post-listing > li > a
{
    text-decoration: none;
    color: #000000;
}

.post-date
{
    float: right;
}

.post-meta {
    border-left: 8px solid dodgerblue;
    padding-left: 10px;
}

.post-meta > h1
{
    margin-bottom: 8px;
}

article > p:first-of-type
{
    margin-top: 35px;
}

p
{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6em;
}

pre
{
    margin-top: 25px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h4
{
    margin-top: 40px;
    font-size: 1.2em;
    color: brown;
    padding-left: 10px;
    border-left: 5px solid brown;
}

h4 + p
{
    margin-top: 15px;
}

table
{
    margin: 20px auto 0;
}

th
{
    background: #0066bb;
    color: #fff;
}

td
{
    background-color: #cccccc;
}

td, th
{
    padding: 3px 10px;
    text-align: center;
}

div.centered > img, hr
{
    margin-top: 25px;
}

.centered
{
    text-align: center;
}

#comment-section
{
    margin-top: 25px;
}

