<!DOCTYPE HTML>
<html>
    {% include head.html %}
    <body>
        <div id="wrap">
            <nav>
                <div id="nav-container" class="container">
                    <a href="/" id="blog-title">{{ site.name }}</a>
                    <a href="/about">About</a>
                </div>
            </nav>
            <div class="divider">&nbsp;</div>
            <section id="content-container" class="container">
                {{ content }}
            </section>
        </div>
        {% include google-analytics.html %}
    </body>
</html>